# ~/.config/sway/configs/rules

# 窗口规则


for_window [app_id="mpv"]                           floating enable, resize set 720 480, move position center
for_window [app_id="qimgv"]                         floating enable, resize set 720 480, move position center



for_window [app_id="lxqt-policykit-agent"]          floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="nwg-look"]                      floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="nekoray"]                       floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="localsend"]                     floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="xdg-desktop-portal-gtk"]        floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="com.github.tchx84.Flatseal"]    floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="org.fcitx.fcitx5-config-qt"]    floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="org.gnome.Nautilus"]            floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="org.pwmt.zathura"]              floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="qalculate-gtk"]                 floating enable, resize set 52ppt 75ppt, move position center
for_window [app_id="thunar"]                        floating enable, resize set 52ppt 75ppt, move position center

for_window [app_id="org.telegram.desktop"]          floating enable, resize set 56ppt 80ppt, move position center
for_window [app_id="com.obsproject.Studio"]         floating enable, resize set 56ppt 80ppt, move position center
