* {
    border: none;
    border-radius: 0;
    /* 最好使用 Mono 字体 */
    font-family: "Noto Sans Mono", "Symbols Nerd Font", "Noto Sans CJK SC";
    font-size: 14.4px;
}

window#waybar {
    color: #f5f5f5;
    background: rgba(31, 33, 38, 0.75);
}



#clock,
#workspaces,
#window,
#custom-recorder,
#tray,
#pulseaudio,
#backlight,
#battery {
    padding: 0 7.5px;
}



#tags {
    margin: 4px 0;
}

#tags button {
    all:unset;
    padding: 0 13px;
    margin: 0 2px;
    color: #A9AFB7;
}

/* 有窗口存在的标签页 */
#tags button.occupied {
    background-color: rgba(70, 75, 86, 0.45);
}

/* 紧急状态标签页 */
#tags button.urgent {
    background-color: #C5C5C5;
    color: #1F2126;
}

#tags button:hover {
    background-color: rgba(70, 75, 86, 0.85);
}

/* 当前所在的标签页 */
#tags button.focused {
    color: #fafafa;
    background-color: rgba(70, 75, 86, 0.85);
}



#battery {
    color: #f5f5f5;
}

#battery.plugged,
#battery.charging {
    color: #81E7AF;
}

/* 电量极低（危险状态）|| 电量低（警告状态）&& 未在充电 */
#battery.warning:not(.plugged),
#battery.critical:not(.plugged) {
    color: #FF8282;
}



#custom-recorder {
    color: #f5f5f5;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: rgba(0, 0, 0, 0);
    }
}
