* {
    border: none;
    border-radius: 0;
    /* 最好使用 Mono 字体 */
    font-family: "Google Sans Code", "Symbols Nerd Font", "Noto Sans CJK SC";
    font-size: 18px;    /* original 14.4px */
}

window#waybar {
    color: #f5f5f5;
    background: rgba(31, 33, 38, 0.75);
}



#clock,
#workspaces,
#window,
#custom-recorder,
#tray,
#pulseaudio,
#backlight,
#battery {
    padding: 0 9px; /* original 7.5px */
}



/* 工作区列表 */
#workspaces {
    margin: 4px 0;
}

#workspaces button {
    all:unset;
    padding: 0 18px;    /* original 15px */
    color: #A9AFB7;
}

#workspaces button:hover {
    background-color: rgba(70, 75, 86, 0.45);
}

/* 当前的工作区 */
/* Sway 使用 .focused */
/* Hyprland 使用 .active */
#workspaces button.focused,
#workspaces button.active {
    color: #f5f5f5;
    background-color: rgba(70, 75, 86, 0.85);
}



#battery {
    color: #f5f5f5;
}

#battery.charging,
#battery.plugged {
    color: #81E7AF;
}

/* 电量极低（危险状态）|| 电量低（警告状态）&& 未在充电 */
#battery.warning:not(.plugged),
#battery.critical:not(.plugged) {
    color: #FF8282;
}



#custom-recorder {
    color: #f5f5f5;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: rgba(0, 0, 0, 0);
    }
}
