# https://github.com/github/gitignore/blob/main/Go.gitignore
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work
go.work.sum

.env

# mjj

# directory
data/
tmp/
images/
videos/
fonts/
release/
bak/
backup/

# archive compressed
*.zip
*.rar
*.7z

*.tar
*.tgz
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.zst
*.tar.lzma
*.tar.lz
*.tar.lz4

*.iso

# audio file
*.mp3
*.Mp3
*.MP3

*.flac
*.Flac
*.FLAC

*.aac
*.Aac
*.AAC

*.m4a
*.M4a
*.M4A

*.wav
*.Wav
*.WAV

*.wma
*.Wma
*.WMA

*.ogg
*.Ogg
*.OGG

*.alac
*.Alac
*.ALAC
*.aiff
*.Aiff
*.AIFF

# video file
*.mp4
*.Mp4
*.MP4

*.mov
*.Mov
*.MOV

*.mkv
*.Mkv
*.MKV

*.avi
*.Avi
*.AVI

*.webm
*.WebM
*.WEBM

# image file
*.jpg
*.Jpg
*.JPG

*.jpeg
*.Jpeg
*.JPEG

*.png
*.Png
*.PNG

*.bmp
*.Bmp
*.BMP

*.tif
*.Tif
*.TIF

*.tiff
*.Tiff
*.TIFF

*.webp
*.Webp
*.WEBP

*.heif
*.Heif
*.HEIF

*.heic
*.Heic
*.HEIC

# *.svg
# *.Svg
# *.SVG

*.raw
*.Raw
*.RAW

*.cr2
*.Cr2
*.CR2

*.nef
*.Nef
*.NEF

*.gif
*.Gif
*.GIF

# misc
.out
todo.md
todo.txt
__debug*

