[init]
    defaultBranch = main
[user]
    name = at337am
    email = lueqit@gmail.com
[alias]
    ss = status
    lg = log --graph --decorate --all --pretty=format:'%C(yellow)%h%C(reset) - %C(cyan)%ad%C(reset) %C(auto)%d%C(reset) %s' --date=format:'%y%m%d %H:%M'
    sw = switch
    br = branch
    co = checkout
    ci = commit
    cim = commit -m
    cia = commit --amend
    wip = commit -m "WIP"
    aa = !git add --all && git status -bs
    aw = !git add --all && git commit -m "WIP"
    ps = push origin main
    count = rev-list --count HEAD
    soft = reset --soft
    rec = restore
[core]
    quotepath = false
    editor = nvim
[log]
    date = iso
