[Unit]
Description=hello server
After=network.target

[Service]
WorkingDirectory=/opt/soft/hello
ExecStart=/opt/soft/hello/hello
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
